page-home {
	
}

.heading{
	text-align: center;
}

.sub-Heading{
	text-align: center;
}

.buttonDiv{
	width: 90%;
	margin: 0 auto;
}

.backgroundDiv{
	//background: linear-gradient(BurlyWood, white, BurlyWood);
	//background: cornsilk;
}

