page-tutorial {

}

.grandStaffBox{
	
	width:320px;
	height:237px;
	padding-top:30px;
	padding-bottom:30px;

	//background-color:blue;

}

.grandStaffDiv{
	width: 100%;
	height: 500px;
	margin: 0 auto;
	//background-color: blue;
	position: relative;

}

.grandStaffCanvas{
	position:relative;
	z-index:20;
}

#canvas{
	
}
